

/* -----Button 1-----
Transparent background 
that changes on hover, 
along with text color.
*/

.btn1 {
    border: 3px solid black;
    width: fit-content;
    border-radius: 6px;
    transition: 300ms ease-in-out;
    margin-left: auto;
    margin-right: auto;
}

.btn1:hover {
    background-color: black;
    cursor: pointer;
}

.btn1_p {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    transition: 300ms ease-in-out;
    text-decoration: none;
}

.btn1:hover .btn1_p {
    color: white;
}

/* -----Button 2-----
Colored Background, darkens
on hover. Text stays same.
Border changes darkens on hover
*/

.btn2 {
    border: 1px solid #428bc7;
    width: fit-content;
    border-radius: 6px;
    transition: 100ms ease-in-out;
    margin-left: auto;
    margin-right: auto;
    background-color: #12bee9;
}

.btn2:hover {
    background-color: #0e93b4;
    cursor: pointer;
    border-color: #09708a;
}

.btn2_p {
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    transition: 300ms ease-in-out;
    text-decoration: none;
    font-size: .9rem;
}

.btn2:hover .btn2_p {
    color: white;
}

/* -----Button 3-----
Colored Background for
contrast, non-rounded
corners. On hover background
darkens, border gets added. */

.btn3 {
    border: 2px solid rgb(34, 213, 236);
    width: fit-content;
    transition: 300ms ease-in-out;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.btn3:hover {
    background-color: rgb(34, 213, 236);
    cursor: pointer;
}

.btn3_p {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgb(34, 213, 236);
    transition: 300ms ease-in-out;
    text-decoration: none;
    font-size: .7rem;
    font-weight: 600;
}

.btn3:hover .btn3_p {
    color: white;
}

/* -----Button 4-----

*/

.btn4 {
    border: 2px solid rgb(11, 139, 190);
    height: 40px;
    border-radius: 20px;
    min-width: 100px;
    width: fit-content;
    transition: 300ms ease-in-out;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.btn4:hover {
    background-color: rgb(11, 139, 190);
    cursor: pointer;
}

.btn4_p {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgb(11, 139, 190);
    transition: 300ms ease-in-out;
    text-decoration: none;
    font-size: .7rem;
    font-weight: 600;
}

.btn4:hover .btn4_p {
    color: white;
}

/* -----Button 5-----

*/

.btn5 {
    border: 2px solid rgb(241, 241, 241);
    height: 40px;
    border-radius: 20px;
    min-width: 100px;
    width: fit-content;
    transition: 300ms ease-in-out;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.btn5:hover {
    background-color: rgb(241, 241, 241);
    cursor: pointer;
}

.btn5_p {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgb(241, 241, 241);
    transition: 300ms ease-in-out;
    text-decoration: none;
    font-size: .7rem;
    font-weight: 600;
}

.btn5:hover .btn5_p {
    color: black;
}



/* -----Button 1-----
Transparent background 
that changes on hover, 
along with text color.
*/

.btn6 {
    border: 3px solid white;
    width: fit-content;
    border-radius: 6px;
    transition: 300ms ease-in-out;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
}

.btn6:hover {
    background-color: white;
    cursor: pointer;
}

.btn6_p {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    transition: 300ms ease-in-out;
    text-decoration: none;
}

.btn6:hover .btn6_p {
    color: black;
}