/* Styles For the Homepage Elements */

/* -----Universal----- */

.expander {
    clear: both;
}



/* -----Features Section----- */

.featuresSection {
    text-align: center;
    margin-bottom: 80px;
}

.featuresSection h4 {
    color: rgb(85, 85, 85);
    margin-top: 30px;
    font-size: 2rem;
    font-weight: 500;
}

.feature h5 {
    margin-top: 20px;
    font-size: 1.15rem;
    max-width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    color: rgb(85, 85, 85);
}

.feature p {
    margin-top: 10px;
    font-size: .9rem;
    max-width: 200px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.text {
    color: grey;
}

.features {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.feature {
    width: 25%;
    float: left;
    text-align: center;
    margin-top: 40px;
}

.graphic {
    height: 120px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid #66bb6a;
    background-repeat: no-repeat;
    background-size: cover;
}

.link {
    color: #66bb6a;
    font-weight: 700;
}

.fit {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

/* Client Wall */

.clientWall {
    width: 100%;
    height: 500px;
    padding-bottom: 100px;
}

.cwBanner {
    height: 150px;
    background-image: linear-gradient(to right, #333c45, #4187c0, #333c45);
    text-align: center;
}

.cwBanner h4 {
    color: white;
    font-size: 1.8rem;
    font-weight: 400;
    padding-top: 40px;
}

.orgs {
    height: 250px;
    display: flex;
    background-color: white;
    margin-top: 20px;
}

.orgItem {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.orgItem img {
    opacity: .6;
    transition: 350ms ease;
}

.orgItem img:hover {
    opacity: 1;
    cursor: pointer;
}

/* End Client Wall */


/* Selection for changing Feature Graphics */

.feature:nth-child(1) .graphic {
    background-image: url(/img/graphic-live-streaming.jpg);
}

.feature:nth-child(2) .graphic {
    background-image: url(/img/graphic-schedule-events.jpg);
}

.feature:nth-child(3) .graphic {
    background-image: url(/img/graphic-video-assets.jpg);
}

.feature:nth-child(4) .graphic {
    background-image: url(/img/graphic-video-editor.jpg);
}

.feature:nth-child(5) .graphic {
    background-image: url(/img/graphic-automation.jpg);
}

.feature:nth-child(6) .graphic {
    background-image: url(/img/graphic-embed-player.jpg);
}

.feature:nth-child(7) .graphic {
    background-image: url(/img/graphic-custom-player.jpg);
}

.feature:nth-child(8) .graphic {
    background-image: url(/img/graphic-api.jpg);
}

/* -----End Features Section----- */

/* -----Testimonials Section----- */

/* Content Styling */
.testimonialBlock {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
    text-align: center;
    margin-bottom: 50px;
}

.testimonialBlock button {
    margin-top: 5px;
    background-color: rgba(0,0,0,0);
    border: none;
    border-right: 2px solid red;
}

.testimonialBlock button:nth-child(3){
    border-right: none;
}

.avatar {
    height: 80px;
    width: 80px;
    border-radius: 40px;
    border: 1px solid black;
    float: left;
    background-image: url(/download.jpg);
}

.topRow {
    margin-left: 25%;
}

.topContent {
    margin-left: 50px;
    float: left;
}

.topRow h4 {
    float: left;
}

.topRow p {
    clear: both;
    float: left;
}

.quote {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

/* End Content Styling */

/* Animation Styling */

.statBar {
    width: 100%;
    float: left;
    border-top: 3px solid black;
}

.statArea {
    width: 33.33333%;
    float: left;
    overflow: hidden;
    border-right: 3px solid black;
}

.statArea:last-child {
    border-right: none;
}

.statRoll {
    width: 200%;
}

.stat {
    width: 50%;
    float: left;
}



.contentArea {
    width: 300%;
    margin-left: -100%;
}

.content {
    width: 33.33333%;
    float: left;
}

input[type=checkbox]:checked ~ section {
    margin-left: -200%;
    transition: 1000ms ease;
}

input[type=radio]:checked ~ section {
    margin-left: 0%;
    transition: 1000ms ease;
}

input[type=checkbox]:checked ~ div > div > section {
    margin-left: -100%;
    transition: 1000ms ease;
}

input {
}

/* End Animations */

/* -----End Testimonials Section----- */


